---
# Only the main Sass file needs front matter (the dashes are enough)
---
$link-color: #534545;
$link-color-hover: #665959;
$link-color-visited: #3A2828;

$primary-color: #9c97a0;

h3 {
    color: #634937 !important;
}

h2 {
    color: #523521 !important;
}

h1 {
    color: #312014 !important;
}

.page__hero--overlay .page__title {
    color: rgb(247, 242, 232) !important;
}


@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
